@import '../../variables.scss';

img {
  // box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  border-radius: 2px;
}

.collapsible-header i {
  font-size: inherit;
}

.collapsible {
  box-shadow: none;
  border: none;

  li {
    .collapsible-header {
      i {
        transition: transform .2s ease;
        margin-left: 10px;
      }
    }
    .collapsible-body {
      border-bottom: none;
    }
  }

  li.active {
    .collapsible-header {
      i {
        transform: rotateZ(90deg);
      }
    }
  }
}

.price {
  display: inline-block;
  padding-right: 5px;

  &.promo {
    color: $highlight-color;
  }
}

.promo-price {
  color: #999;
  text-decoration: line-through;
  font-style: italic;
  display: inline-block;
  padding-right: 5px;
}

.discount {
  color: $highlight-color;
  display: inline-block;
}

.on-sale {
  color: #c91f24;
  margin-top: 0;
}

.modal {
  width: 80%;
  height: 100vh;
  max-height: 100%;
  top: 0 !important;
}
