<div class="row">
  <div class="col m12 l7">
    <img *ngIf="isLoaded" src="{{product?.thumbnail}}" alt="{{product?.name}}" class="responsive-img modal-trigger" data-target="image-modal">
  </div>
  <div class="col m12 l5">
    <h3>{{product?.name}} {{product?.setName}}</h3>
    <!-- <p>{{product?.setDescription}}</p> -->
    <div *ngIf="promo && showPrices()">
      <h4 class="price promo" >{{product?.promoPrice | currency: 'USD': 'symbol': '1.0-0'}}</h4>
      <h6 class="promo-price" >{{product?.price | currency: 'USD': 'symbol': '1.0-0'}}</h6>
      <h6 class="discount" >{{1 - product?.promoDiscount | percent}} off</h6>
      <h4 class="on-sale" >On Sale</h4>
    </div>
    <div *ngIf="!promo && showPrices()">
      <h4 class="price" >{{product?.price | currency: 'USD': 'symbol': '1.0-0'}}</h4>
    </div>

    <!-- <app-request-info *ngIf="isLoaded" [productId]="product?.id"></app-request-info> -->
    <div id="addToCart">
      <button type="button" (click)="addToCart()" class="valign-wrapper">Add to Cart <i class="material-icons">add_shopping_cart</i></button>
    </div>
    <hr>
    <p class="description">{{product?.description}}</p>
  </div>

  <div class="col s12">
    <ul class="collapsible">
      <li>
        <div class="collapsible-header">
          <h4 class="valign-wrapper">
            Product Details
            <i class="material-icons">keyboard_arrow_right</i>
          </h4>
        </div>
        <div class="collapsible-body">
          <table class="product-items">
            <tr>
              <th>Product</th>
              <th *ngIf="showPrices()">Price</th>
              <th>Dimensions</th>
            </tr>
            <tr *ngFor="let item of productItems">
              <td>{{item.name}}</td>
              <td *ngIf="showPrices()">{{item.price | currency: 'USD': 'symbol': '1.0-0'}}</td>
              <td>{{item.dimensions}}</td>
            </tr>
          </table>
        </div>
      </li>
    </ul>
    <ul class="collapsible">
      <li>
        <div class="collapsible-header">
          <h4 class="valign-wrapper">
            Description
            <i class="material-icons">keyboard_arrow_right</i>
          </h4>
        </div>
        <div class="collapsible-body">
          <p class="description">{{product?.description}}</p>
        </div>
      </li>
    </ul>

    <ul class="collapsible">
      <li>
        <div class="collapsible-header">
          <h4 class="valign-wrapper">
            Other Popular Products
            <i class="material-icons">keyboard_arrow_right</i>
          </h4>
        </div>
        <div class="collapsible-body">
          <app-popular-products *ngIf="isLoaded" [layout]="'flat'"></app-popular-products>
        </div>
      </li>
    </ul>
    <!-- <ul class="collapsible">
      <li>
        <div class="collapsible-header">
          <h4 class="valign-wrapper">
            More like this
            <i class="material-icons">keyboard_arrow_right</i>
          </h4>
        </div>
        <div class="collapsible-body">
          <div class="row">
            <div class="col s12 m6 l3 box" *ngFor="let product of relatedProducts">
              <a routerLink="/products/{{product.id}}">
                <div class="img-wrapper">
                  <img src="{{product.thumbnail}}" alt="{{product.name}}" class="responsive-img">
                </div>
                <div class="info">
                  <h6 class="truncate">{{product.name}} {{product.setName}}</h6>
                </div>
              </a>
            </div>
          </div>
        </div>
      </li>
    </ul> -->
  </div>
</div>

<!-- <app-email-signup id="email-signup"></app-email-signup> -->

<div id="image-modal" class="modal">
  <img *ngIf="isLoaded" src="{{product?.images[0]}}" alt="{{product?.name}}" class="responsive-img">
</div>
