.box {
  padding-top: 5px;
  padding-bottom: 5px;
  &:hover .img-wrapper img {
    transform: none;
  }

  &:hover {
    border: 2px solid #aaa;
    padding: 3px 9.25px;
  }
}

.info {
  background-color: transparent;
  position: static;
}
