<div class="row">
  <form class="col s12 m12 options">
    <div class="row">
      <div class="input-field col s12 m4">
        <select id="sizes" (change)="filterSize($event)">
          <option value="all" selected>All Sizes</option>
          <option value="twin">Twin</option>
          <option value="full">Full</option>
          <option value="queen">Queen</option>
          <option value="king">King</option>
          <option value="calking">Cal King</option>
        </select>
        <label>Size</label>
      </div>
      <div class="input-field col m4 s6">
        <input (change)="setMin($event)" value="{{minPrice}}" placeholder=" " id="min-price" type="text">
        <label class="active" for="first_name">Min price</label>
      </div>
      <div class="input-field col m4 s6">
        <input (change)="setMax($event)" value="{{maxPrice}}" placeholder=" " id="max-price" type="text">
        <label class="active" for="last_name">Max price</label>
      </div>
    </div>
  </form>
  <div class="col s12 m6 l4 box" *ngFor="let mattress of mattresses">
    <a routerLink="/mattresses/{{mattress.id}}">
      <div class="img-wrapper">
        <img src="{{mattress.image}}" alt="{{mattress.name}}" class="responsive-img">
      </div>
      <div class="info">
        <h6 class="truncate">{{mattress.name}}</h6>
        <h5>{{mattress.price | currency: 'USD': 'symbol': '1.0-0'}} {{mattress.setName}}</h5>
      </div>
    </a>
  </div>
  <div class="col s12 m12 l12" *ngIf="mattresses.length === 0 && search">
    <h2>Sorry, no products match those criteria</h2>
  </div>
</div>
