<div class="row">
  <div class="col m12">
    <a routerLink="/promotions/summer-sale2">
      <img src="assets/summer_sale2.png" class="responsive-img z-depth-2">
    </a>
  </div>

  <div class="col m6 s12">
    <a routerLink="/promotions/summer-sale">
      <img src="assets/summer_sale_thumb.png" class="responsive-img z-depth-2">
    </a>
  </div>
  <div class="col m6 s12 promo3">
    <a routerLink="/promotions/summer-sale3">
      <img src="assets/summer_sale3_thumb.png" class="responsive-img z-depth-2">
    </a>
  </div>
</div>
