<div class="row">
  <div class="col s12 m12 l10">
    <div id="contact" class="section scrollspy row">
      <h2 class="center-align">Contact</h2>
      <hr>
      <div class="col m12 s12" [ngClass]="numCols()" *ngFor="let location of locations">
        <table>
          <tbody>
            <tr>
              <td>Phone:</td>
              <td>{{location.phone}}</td>
            </tr>
            <tr>
              <td>Address:</td>
              <td>{{location.fullAddress()}}</td>
            </tr>
            <tr>
              <td>Hours:</td>
              <td>
                <span *ngFor="let hour of location.splitHours()">{{hour}} <br></span>
              </td>
            </tr>
            <tr>
              <td>Email:</td>
              <td>{{location.email}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col s12">
        
        <iframe [src]="gmaps | safe" width="90%" height="450" margin="50px auto" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
    </div>
    <div *ngIf="images.length > 0" id="look_inside" class="section scrollspy">
      <h2>Look Inside</h2>
      <hr>
      <div *ngIf="ready()" class="carousel carousel-slider">
        <a class="carousel-item" *ngFor="let image of images"><img src="{{image}}"></a>
      </div>
    </div>
    <div id="social" class="section scrollspy" *ngIf="reviews.length > 0">
      <h2>Social</h2>
      <hr>
      <app-reviews [reviews]="reviews"></app-reviews>
    </div>
    <div id="financing" class="section scrollspy">
      <h2 class="center-align">Financing</h2>
      <hr>
      <app-financing></app-financing>
    </div>
    <div id="deliveries" class="section scrollspy">
      <h2 class="center-align">Deliveries</h2>
      <hr>
      <table class="striped">
        <thead>
          <tr>
            <th>Cities</th>
            <th>Price</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let delivery of deliveries">
            <td>{{delivery.name}}</td>
            <td>{{delivery.price | currency: 'USD': 'symbol': '1.0-0'}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="col hide-on-med-and-down l2">
    <ul class="section table-of-contents">
      <li><a href="#contact">Contact</a></li>
      <li *ngIf="images.length > 0"><a href="#look_inside">Look Inside</a></li>
      <li *ngIf="reviews.length > 0"><a href="#social">Social</a></li>
      <li><a href="#financing">Financing</a></li>
      <li *ngIf="deliveries.length > 0"><a href="#deliveries">Deliveries</a></li>
    </ul>
  </div>
</div>
