<app-landing-promotions></app-landing-promotions>
<div class="row">
  <div class="welcome center-align">
    <h5>Welcome to</h5>
    <h2>{{store?.name}}</h2>
    <hr>
  </div>
  <div class="popular-items center-align">
    <h4>Popular Items</h4>
    <app-popular-products
      [layout]="'flat'"
    ></app-popular-products>
  </div>
  <div class="categories center-align">
    <h4>Shop by Category</h4>
    <!-- <div class="col s12 m6 l6 category-link" *ngFor="let category of categories"> -->
    <div class="col s12 m6 l3 box promo" *ngFor="let category of categories">
      <span *ngIf="edit" class="edit" (click)="editCategory(category)"><i class="material-icons">edit</i></span>
      <a routerLink="/categories/{{category.linkName()}}">
        <div class="img-wrapper">
          <img src="{{category.image}}" >
        </div>
        <div class="info">
          <h5>{{category.name}}</h5>
        </div>
      </a>
    </div>
    <div class="clearfix"></div>
  </div>

  <div *ngIf="edit">
    <ul id="edit-category" class="sidenav">
      <app-edit-slideout [modelType]="modelType" [model]="model"></app-edit-slideout>
    </ul>
    <script type="text/javascript">
      $(document).ready(function(){
        $('.sidenav').sidenav();
      });
    </script>
  </div>
  <!-- <div *ngIf="showPromotions()" class="col s12 m6 l3 category-link">
    <a routerLink="/promotions">
      <div class="img-wrapper">
        <img src="/assets/summer_sale.png" alt="">
      </div>
      <div class="info">
        <h6>Promotions</h6>
      </div>
    </a>
  </div> -->
</div>
